:root {
	--color-blue: #B6D8FF;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {	
	text-decoration: none;
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	line-height: 120%;

	margin: 0 auto;
	background-color: black;
}

a {
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
}

h1 {
	font-family: 'Brygada 1918', serif;
	font-weight: 400;
	font-size: 120px;
	line-height: 117%;
}

h2 {
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
}

h3 {
	font-weight: 400;
	font-size: 40px;
	line-height: 120%;
}

ul {
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
}

.button-blue {
	background-color: var(--color-blue);
	padding: 10px 36px;
	font-size: 21.2626px;
	line-height: 120%;
	transition: 0.3s;
	border: 1px solid rgba(255, 255, 255, 0);
}

.button-blue:hover {
	background-color: #ffffff00;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}
.product-name {
	font-size: 32px;
	line-height: 120%;
}

.small-product-name {
	font-size: 24px;
	line-height: 120%;
	color: white;
}

.price {
	font-weight: 300;
	font-size: 24px;
	line-height: 120%;
}

.text-white {
	color: white;
}

.container {

	width: 89%;
	margin: 0 auto;
}

.button-blue {
	background-color: var(--color-blue);
	padding: 10px 36px;
	font-size: 21.2626px;
	line-height: 120%;
	transition: 0.3s;
	border: 1px solid rgba(255, 255, 255, 0);
}

.button-blue:hover {
	background-color: #ffffff00;
	border: 1px solid white;
	color: white;
}
.button-white {
	background-color: transparent;
	padding: 15px 60px;
	font-size: 32px;
	line-height: 120%;
	transition: 0.3s;
	border: 1px solid #000000;
}

.button-white:hover {
	background-color: #000000;
	border: 1px solid black;
	color: white;
	cursor: pointer;
}
.button-black {
	background-color: transparent;
	padding: 15px 30px;
	font-size: 32px;
	line-height: 120%;
	transition: 0.3s;
	border: 1px solid #fff;
}

.button-black:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	cursor: pointer;
}

.hide {
	display: none;
}

/* ----------catalog---------------------------------------------- */

.catalog-img img {
	width: 100%;
}

/* ----------filter__form---------------------------------------------- */
.main {
	margin-top: 140px;
}
	.main__wrapper {
		display: flex;
		justify-content: space-between;
	}
		.filter__form {
			max-width: 300px;
		}

		.filter__form-button {
			display: none;
			align-items: center;
			cursor: pointer;
		}

		.filter__form-button .filter__title{
			margin-bottom: 0px;
			font-size: 40px;
		}

		.filter__form-button img {
			width:40px;
			margin-left: 10px;
		}
			.filter__form {
				user-select: none;
			}
				.filter__title {
					margin-bottom: 40px;
				}
					.filter__group{
						margin-bottom: 80px;
					}
					.filter__group:last-child{
						margin-bottom: 0px;
					}
						.filter__group-title {
							margin-bottom: 4px;
						}
						.filter__group-list {
							
						}
							.css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
							.css-checkbox + label { position: relative; cursor: pointer; display: inline-flex; align-items: center; height: 20px; color: white; }
							.css-checkbox + label::before { content: " "; display: inline-block; vertical-align: middle; margin-right: 3px; width: 32px; height: 32px; background-color: rgb(0, 0, 0); border-width: 2px; border-style: solid; border-color: rgb(255, 255, 255); box-shadow: none; }
							.css-checkbox:checked + label::after {content: " "; background-image: url("./images/checkbox-chek.svg"); background-repeat: no-repeat; background-size: 50px 50px; background-position: center center; position: absolute; display: flex; justify-content: center; align-items: center; margin-left: 2px; left: 0px; top: -6px; text-align: center; background-color: transparent; height: 32px; width: 32px; }
							.filter__group-list-item {
								margin-top: 20px;
							}

							.filter__group-list-item span{
								margin-left: 20px;
							}

							.filter__value {
								margin-top: 20px;
								width: 200px;
								display: flex;
								justify-content: space-between;
							}
								.filter__value input {
									text-align: center;
									font-size: 20px;
									line-height: 24px;
									max-width: 87px;
									height: 32px;
								}
					.filter__button {
						margin-top: -48px;
					}

/* ----------products---------------------------------------------- */
	.main__products {
		margin-top: 117px;
	}
	.products {
		margin-left: 20px;
	}
		.main__products-inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 80px 20px;
		}
			.main__products-product {
				
			}
			.product {
				transition: 0.2s;
				width: 28.5%;
				min-width: 200px;
				display: flex;
				flex-wrap: wrap;
				
			}
			.out {
				opacity: 0;
				transition: opacity 1s;
		  	}
				.product__img {
					width: 100%;
					position: relative;
				}

				.product__img:hover .product__order {
					opacity: 1;
				}
					.product__img img{
						width: 100%;
					}

					.product__order {
						transition: 0.2s;
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 0;
						left: 0;
						background: rgba(0, 0, 0, 0.6);
						width: 100%;
						height: 100%;
						opacity: 0;
					}

				.product__name {
					margin-top: 20px;
					width: 100%;
				}
				.product__bottom {
					width: 100%;
					margin-top: 45px;
					display: flex;
					justify-content: space-between;
					align-self: flex-end;
				}
					.product__price {
					}
					.product__fav {
						cursor: pointer;
						width: 28px;
					}

					.product__fav img{
						cursor: pointer;
						width: 100%;		
					}

					.product__fav img:hover {
						background-image: url(./images/favorite-full.svg);
						background-repeat: no-repeat;	
						background-size: contain;
					}
					

/* --------newness--------------------------------------------------------- */

.slider {
	margin-top: 140px;
}
	.slider__inner {
	}
		.slider__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 65px;
		}
			.slider__title {

			}
			.slider__button-black {
			}

		.slider__body {
			display: flex;
			gap: 21px;
			position: relative;
		}

			.slider__control {
				
				height: 100%;
				position: absolute;
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
			}
				.arrow {
					filter: invert(100%);
					width: 70px;
					height: 70px;
					align-self: center;
					cursor: pointer;
					transition: 0.2s;
				}
				.arrow:hover {
					filter: invert(80%);

				}
				.left-arrow {
					rotate: 180deg;
					
				}
				.right-arrow {

				}
			.slider__product {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				overflow: hidden;
			}
				.slider__img {
					width: 100%;
					
				}

				.slider__img img{
					
				}
				.slider__product-title {
					margin-top: 20px;
					width: 100%;
				}
				.slider__price {
					margin-top: 20px;
					width: 100%;
					align-self: flex-end;
				}
				.slider__product-bottom {
					width: 100%;
					margin-top: 20px;
					display: flex;
					justify-content: space-between;
					align-self: flex-end;
				}
					.slider__order {
					}
					.slider__fav {
						cursor: pointer;
					}
					.slider__fav:hover {
						background-image: url(./images/favorite-full.svg);
						background-repeat: no-repeat;

					}

/* --------join-us--------------------------------------------------------- */

.join-us {
	margin-top: 140px;
	background-image: url(./images/main/join-us-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

	.join-us__container {
		padding: 98px 80px;
	}

	.join-us__inner {
		
		max-width: 630px;
	}
		.join-us__title {
			width: 100%;
		}
		.join-us__descr {
			width: 100%;
			margin-top: 48px;
		}
		.join-us__form {
			width: 100%;
			margin-top: 48px;
		}
			.join-us__email {
				width: 100%;
				font-size: 32px;
				line-height: 38px;
				padding: 13px 40px;
			}

/* ----------footer---------------------------------------------- */
.footer {
	margin-top: 140px;
	background-color: white;
}
	.footer__inner {
		
		display: flex;
	}
		.footer__img {
			display: flex;
		}
			.footer__img img{
				height: 100%;
			}
		.footer__content {
			display: flex;
			width: 100%;
			justify-content: space-around;
			align-items: center;
		}
			.footer__logo-sm {
			}
				.footer__logo-img {
					filter: invert(100%);
					transition: 0.3s;
				}

				.footer__logo-img:hover {
					filter: invert(80%);
				}
				.footer__sm {
					margin-top: 15px;
					display: flex;
					justify-content: center;
					gap: 24px;
				}
					.social-media {
						transition: 0.3s;
					}
					.social-media:hover {
						filter: invert(30%);
					}
			.footer__list{
				font-size: 20px;
				line-height: 120%;
				font-weight: 600;
				font-style: normal;
				display: flex;
				flex-direction: column;
				gap: 28px;
			}

				.footer__list a {
					transition: 0.3s;
				}

				.footer__list a:hover {
					color: #234772;
					
				}



@media (max-width: 1100px) {
	.slider__product-title {
		font-size: 24px;
	}

	.slider__price {
		font-size: 20px;
	}

	.slider__order {
		font-size: 16px;
	}
}

@media (max-width: 995px) {
	.product {
		width: 48%;
	}
	.filter__title {
		font-size: 60px;
	}
			.filter__group-title {
				font-size: 35px;
			}
				.filter__group-list-item span{
					font-size: 25px;
				}

				.filter__value {
					font-size: 25px;
				}
}

@media (max-width: 900px) {
			.footer__img {
				display: none;
			}

}

@media (max-width: 829px) {

	.main {
		margin-top: 80px;
	}

	.main__wrapper {
		display: block;
	}

	.filter__form-button {
		display: flex;
	}

	.filter__form {
		display: none;
	}

	.filter__group{
		margin-bottom: 80px;
	}

	.main__products {
		margin-top: 50px;
	}

	.main__products-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 80px 20px;
	}

	.products {
		margin-left: 0;
	}

	.product {
		min-width: 170px;
		width: 31%;
	}

	.join-us__container {
		padding: 98px 30px;
	}

	.join-us__email {
		font-size: 24px;
	}
}

@media (max-width: 660px) {
	.product {
		min-width: 170px;
		width: 47%;
	}
	.arrow {
		width: 50px;
		height: 50px;
	}
	.slider__button-black {
		font-size: 25px;
	}
}

@media (max-width: 480px) {
	.product {
		width: 100%;
	}

	.product__name {
		font-size: 30px;
	}

	.join-us__container {
		padding: 98px 0px;
	}

	.footer {
		margin-top: 70px;

	}

	.slider__button-black {
		font-size: 16px;
	}
}

@media (max-width: 380px) {

	.arrow {
		width: 35px;
		height: 35px;
	}
	.slider__title {
		font-size: 25px;
	}

	.slider__button-black {
		font-size: 13px;
	}

	.product__name {
		font-size: 25px;
	}
}

/*------------------------------------FAVORITES-LIST----------------------------------*/


.favorites-list{
	margin-top: 50px;
	left: 50%;
   transform: translate(-50%, 0);
	z-index: 3;
	background-color: white;
	width: 60%;
	border-radius: 20px;
	box-shadow: 0 0 30px var(--color-blue);
	padding: 20px 50px;
	position: fixed;
	overflow: auto;
	max-height: 90vh;
}

.favorites-list__cross {
	width: 52px;
	height: 52px;
	cursor: pointer;
}

.blur {
	filter: blur(20px);
}

.favorites-list__content {
	display: flex;
	flex-direction: column;
}

.favorites-list__header {
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(85, 85, 85);
}

.favorites-list__icon-black {
	filter: invert();
}

.favorites-list__list {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.favorites-list__product {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
	.favorites-list__product-info {
		width: 60%;
	}
	.favorites-list__img {
		width: 30%;
	}
	.favorites-list__product-title {
		margin-top: 20px;
		width: 100%;
	}
	.favorites-list__price {
		margin-top: 20px;
		width: 100%;
		align-self: flex-end;
	}
	.favorites-list__product-bottom {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
	}
		.favorites-list__fav {
			cursor: pointer;
		}
		.favorites-list__fav:hover {
			background-image: url(./images/favorite.svg);
			background-repeat: no-repeat;
			filter: invert();
		}

/*------------------------------------IS-SAVED----------------------------------------*/

.isSaved {

}

.favorites-click {
	animation: skew-x-shakeng 0.5s;
}

@keyframes skew-x-shakeng{
	0% { transform: skewX(-15deg); }
	5% { transform: skewX(15deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}

/*------------------------------------SCROLL-TO-TOP------------------------------------*/

.scroll-to-top {
	position: relative;
	top: 90vh;
	left: 85%;
	z-index: 2;
}

.scroll-to-top div {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 20px black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	cursor: pointer;
}
.scroll-to-top__img {
	width: 30px;
}

/*------------------------------------HEADER------------------------------------*/

header {
	background: url(./images/background.png);
	background-repeat: no-repeat;
   background-size: 100%;
	padding-bottom: 25px;
}

.header {
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
	.header__nav {
		display: flex;
		gap: 40px;
	}
		.header__nav-item{
			color: white;
		}
		.header__nav-item:hover{
			color: var(--color-blue);
			transition: 0.3s;
			cursor: pointer;
		}

	.header__icons{
		display: flex;
		gap: 24px;
	}
		.header__icons-busket:hover{
			cursor: pointer;
		}
		.header__icons-saved:hover{
			cursor: pointer;
		}

	.header__menu-img{
		width: 32px;
		display: none;
	}
	.header__menu-img-cross{
		width: 52px;
		height: 52px;
		display: none;
		filter: invert(100%);
	}
	.header__menu-img:hover{
		cursor: pointer;
	}
	.header__menu-img-cross:hover{
		cursor: pointer;
	}
	.header__menu {	
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background: #b6d8fff1;
		transform: translateX(-100%);
		transition: transform 0.5s;
		z-index: 2;
	}
	.header__menu.active {
		transform: translateX(0);
	}
	.header__menu li {
		list-style-type: none;
		margin-bottom: 15px;
	}
	.header__menu nav {
		display: flex;
		justify-content: space-between;
		padding: 20px 20px;
	}

.header__info {
	margin-top: 100px;
}
	.header__info-bottom {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
	}
		.header__info-button {
			padding: 15px 60px;
			font-size: 32px;
		}
		.header__info-text{
			width: 305px;
		}

/*------------------------------------ABOUT------------------------------------*/

.about {
	display: flex;
}
	.about__info {
		background-color: #fff;
		padding: 127px 80px 127px 108px;
		width: 57%;
	}
		.about__info p{
			margin: 80px 0px 32px 0px;
		}

	.about__image{
		width: 43%;
		background-image: url(./images/about-img.png);
		background-size: cover;
		background-position: 50%;
	}

		

/*------------------------------------GALLERY------------------------------------*/

.gallery {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 140px 0px;
	gap: 20px;
}
	.gallery__block {
		position: relative;
		width: 100%;
		grid-column: span 3;
	}

	.gallery__block:nth-child(n + 3) {
		grid-column: span 2;
	}

		.gallery__block-top {
			height: 100%;
			width: 100%;
		}
		.gallery__block-bottom {
			height: 100%;
			width: 100%;
		}
	.gallery__image {
		display: block;
	}
		.gallery__img {
			width: 100%;
		}

	.gallery__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 98.5%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #00000082;
	}

	.gallery__block:hover .gallery__overlay {
		opacity: 1;
		cursor: pointer;
	}

	.gallery__text {
		color: white;
		font-size: 60px;
		font-weight: 700;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

@media (max-width: 1150px) {
	.header__info-text{
		position: relative;
		bottom: 70px;
	}
	body {
		font-size: 24px;
	}
	h1 {
		font-size: 100px;
	}
	.header__info {
		margin-top: 50px;
	}
	.about__info {
		padding: 100px 55px 100px 75px;
	}
	.gallery__text {
		font-size: 40px;
	}
}
@media (max-width: 950px) {
	.header__info-text{
		bottom: 120px;
	}
	body {
		font-size: 20px;
	}
	h1 {
		font-size: 80px;
	}
	.about__info-button {
		padding: 15px 40px;
		font-size: 24px;
	}
}
@media (max-width: 850px) {
	.header__info-bottom {
		margin-top: 80px;
		display: flex;
		flex-direction: row-reverse;
	}
}
@media (max-width: 1150px) {
	.header__info-text{
		position: relative;
		bottom: 70px;
	}
	body {
		font-size: 24px;
	}
	h1 {
		font-size: 100px;
	}
	.header__info {
		margin-top: 50px;
	}
	.about__info {
		padding: 100px 55px 100px 75px;
	}
	.gallery__text {
		font-size: 40px;
	}
	}
@media (max-width: 950px) {
	.header__info-text{
		bottom: 120px;
	}
	body {
		font-size: 20px;
	}
	h1 {
		font-size: 80px;
	}
	.about__info-button {
		padding: 15px 40px;
		font-size: 24px;
	}
	}
@media (max-width: 850px) {
	.header__info-bottom {
		margin-top: 80px;
		display: flex;
		flex-direction: row-reverse;
	}
	.header__info-button {
		padding: 15px 50px;
		font-size: 24px;
	}
	.header__info-text{
		bottom: 0px;
	}
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 70px;
	}
	.gallery {
		padding: 80px 0px;
	}
	.gallery__text {
		font-size: 25px;
	}
}
@media (max-width: 750px) {
	.header__menu-img{
		display: block;
	}
	.header__nav {
		display: none;
	}
	.header__icons{
		margin-right: 24px;
		margin-left: auto;
	}
	.header__info-bottom {
		margin-top: 40px;
	}
	.header__info-button {
		padding: 10px 36px;
		font-size: 22px;
	}
	h1 {
		font-size: 60px;
	}
	header {
		padding-bottom: 15px;
	}
	h2 {
		font-size: 40px;
	}
	.about__info {
		padding: 75px 30px 75px 50px;
	}
	.about__info p{
		margin: 55px 0px 32px 0px;
	}
}
@media (max-width: 650px) {
	.header__info-bottom {
		margin-top: 20px;
	}
	.header__info {
		margin-top: 20px;
	}
}
@media (max-width: 600px) {
	.header__info-bottom {
		flex-direction: column-reverse;
	}
	.header__info-text{
		width: 100%;
		margin-bottom: 20px;
	}
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 70px;
	}
	.gallery {
		padding: 80px 0px;
	}
	.gallery__text {
		font-size: 25px;
	}
}
@media (max-width: 750px) {
	.header__menu-img{
		display: block;
	}
	.header__nav {
		display: none;
	}
	.header__icons{
		margin-right: 24px;
		margin-left: auto;
	}
	.header__info-bottom {
		margin-top: 40px;
	}
	.header__info-button {
		padding: 10px 36px;
		font-size: 22px;
	}
	h1 {
		font-size: 60px;
	}
	header {
		padding-bottom: 15px;
	}
	h2 {
		font-size: 40px;
	}
	.about__info {
		padding: 75px 30px 75px 50px;
	}
	.about__info p{
		margin: 55px 0px 32px 0px;
	}
}
@media (max-width: 650px) {
	.header__info-bottom {
		margin-top: 20px;
	}
	.header__info {
		margin-top: 20px;
	}
}
@media (max-width: 600px) {
	.header__info-bottom {
		flex-direction: column-reverse;
	}
	.header__info-text{
		width: 100%;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 40px;
	}
	header {
		padding-bottom: 10px;
	}
	.gallery {
		padding: 40px 0px;
	}
}
@media (max-width: 550px) {
	header {
		height: 450px;
		background-size: cover;
	}
}

@media (max-width: 500px) {
	h2 {
		font-size: 30px;
	}
	.about__info {
		padding: 45px 5px 45px 20px;
	}
	.about__info p{
		margin: 25px 0px 25px 0px;
	}
	.about__info-button {
		padding: 10px 15px;
		font-size: 22px;
	}

	.gallery__text {
		font-size: 15px;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 5px;
	}
	.gallery__block .gallery__overlay {
		opacity: 1;
	}
	
	h1 {
		font-size: 40px;
	}
	header {
		padding-bottom: 10px;
	}
	.gallery {
		padding: 40px 0px;
	}
}
@media (max-width: 550px) {
	header {
		height: 450px;
		background-size: cover;
	}
}

@media (max-width: 500px) {
	h2 {
		font-size: 30px;
	}
	.about__info {
		padding: 45px 5px 45px 20px;
	}
	.about__info p{
		margin: 25px 0px 25px 0px;
	}
	.about__info-button {
		padding: 10px 15px;
		font-size: 22px;
	}

	.gallery__text {
		font-size: 15px;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 5px;
	}
	.gallery__block .gallery__overlay {
		opacity: 1;
	}
}

